
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #f2f2f2;
}

.carte {
    text-align: center;
}

.commentaires-utilisateurs {
    /* Styles pour les commentaires des utilisateurs */
}
.liens-stylises {
    /* Styles pour les liens stylisés */
}

.lien1,.lien2,.lien3 {
    background-size: cover; /* Ajuste la taille de l'image pour couvrir tout le div */
    background-position: center; /* Position de l'image centree */
    background-repeat: no-repeat; 

    color: #ffffff;
    text-shadow: #333 1px 0 10px;

    text-align: center;
    padding: 100px 20px;
}

.lien1:hover,.lien2:hover,.lien3:hover {
    color: #333;
    text-shadow: #ffffff 1px 0 10px;
}

.lien:link {    
    text-decoration: none;
}

.lien1 {
    background-image: url('../images/mairie.jpg');
}


.lien2 {
    background-image: url('../images/plage.jpg');
}


.lien3 {
    background-image: url('../images/flotille.jpg');
}

.avis {
    margin: 10px;
    display: flex;
}