main {
    font-size: 20px;
}

img {
    width : 20%;
}

li {
    font-size: 20px;
}

.page {
    margin: 0 0 3% 2%;
}

.nom_page {
    text-decoration: none;
    color : inherit !important;
}

main a {
    color:red !important;
}

main a:hover {
    color:orange !important;
}

main a:visited {
    color:inherit;
}

section {
    background-color: #D3D3D3;
}

.kdo {
    background-image: linear-gradient(to left, indigo, blue, green, orange, red);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-decoration: none;

}