.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); /* Maintenir une largeur minimale de 250px */
    grid-gap: 10px; /* Espacement entre les cases */
    justify-items: center;
}
  
.grid-item {
    display: flex; /* Utiliser Flexbox pour positionner les éléments en ligne */
    flex-direction: column; /* Disposer les éléments en colonne */
    text-align: center;
    border: black 5px solid;
    width: 280px; /* Fixer une largeur pour chaque case */
    height: 550px; /* Fixer une hauteur pour chaque case */
    overflow: hidden; /* Cacher le texte qui dépasse */
    position: relative; /* Position relative pour placer l'image */
}

.grid-item h1 {
    margin: 0 5%;
}

.grid-item p {
    margin: 0 5%;
}


.grid-item img {
    position: absolute;
    bottom: 0;
    left: 0; /* Ajout de cette ligne pour positionner l'image au coin supérieur gauche */
    width: 100%; /* Faire en sorte que l'image remplisse complètement la largeur de la case */
    height: auto; /* Laisser la hauteur s'ajuster automatiquement */
    object-fit: cover; /* Ajuster la taille de l'image pour qu'elle remplisse complètement le conteneur tout en conservant les proportions */
}


