.card img {
    position: absolute;
    bottom: 0;
    left: 0; /* Ajout de cette ligne pour positionner l'image au coin supérieur gauche */
    width: 100%; /* Faire en sorte que l'image remplisse complètement la largeur de la case */
    height: 50%; /* Fixer une hauteur pour les images à 50% de la hauteur de la carte */
    object-fit: cover; /* Ajuster la taille de l'image pour qu'elle remplisse complètement le conteneur tout en conservant les proportions */
}


.card p {
    text-align: center;
}


.wrapper {
  height: 100vh;
  text-align: center;
}

.scene {
  display: inline-block;
  width: 220px;
  height: 300px;
  margin: 40px; /* Vous pouvez ajuster la marge selon vos besoins */
  perspective: 600px;
}



.card {
  position: relative;
  width: 100%;
  height: 100%  !important;

  cursor: pointer ;

  display: flex;
  align-content: center;

  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s, box-shadow 1s; /* Ajoutez box-shadow à la transition */
  box-shadow: 10px 10px 5px black; /
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
position: absolute;
  width: 100%;
  height: 100%;
  color: white;
  backface-visibility: hidden;
  background: #333;
}

.card__face--front {
  text-align: center
}

.card__face--front .card-text {    
  font-weight: bold;
  font-size: 30px;
  margin-top : 5%;
}

.card__face--back .card-text {  
    margin: 10% 2.5%;  
    
}

.card__face--back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
