.img-carousel {
    width : 50vw;
    height : 100vw;
    max-width : 200px;
    max-height : 1000px;
}

.caption_carousel {
    color:white;
    text-align: right;
    padding-right:2%;

}

.carousel {
    width: 100%;
    background-color: #333;
}


.accordion-button {
    background-color: #D3D3D3 !important;
    margin: 1% auto;
}

.accordion-button:not(.collapsed) {
    color: white !important;
    background-color: #A9A9A9 !important;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 #696969 !important;
}

.accordion-item {
    background-color: rgba(255,255,255,0.5) !important;
}


.donnees ul {
    list-style-type: none;
    font-size: 25px;
    text-align: center;
    padding-left: 0;
    margin: auto; /* Ajout de la propriété margin */
}

.donnees li {
    margin: 3% auto;
    padding: 10px; 
    align-items: center; 
    position: relative; 
    background-color: #D3D3D3;
    width: 100%; 
    max-width: 500px; 
    padding: 2%;
    border: solid #333;
    margin : 2% auto;
    box-sizing: border-box;
    text-align: center;
}



.donnees li > p {
    font-size: 20px;
    margin: 0;
}

.donnees li > i {
    margin-right: 10px; 
}



