.img-carousel {
    width : 50vw;
    height : 100vw;
    max-width : 200px;
    max-height : 1000px;
}

.caption_carousel {
    color:white;
    text-align: right;
    padding-right:2%;

}

.carousel {
    width: 100%;
    background-color: #333;
}